SQLAlchemy==0.9.8
SocksiPy-branch==1.01
argparse==1.2.1
bottle==0.12.7
charade==1.0.3
ecdsa==0.11
feedparser==5.1.3
pbkdf2==1.3
pyasn1==0.1.7
pyasn1-modules==0.0.5
python-dateutil==2.2
pytz==2014.7
qrcode==5.1
requests==2.4.3
six==1.8.0
slowaes==0.1a1
tlslite==0.4.6
utilitybelt==0.1.4
wsgiref==0.1.2
coinkit==0.5.4
-e git://github.com/spesmilo/electrum.git@063fc4bb2edcf38ff87b77f6ea21553e2762ac27#egg=Electrum-master
-e git://github.com/ProgVal/Limnoria.git@13c2bd3fcc5e42a8f57f1faa6d97bd7b1df37a86#egg=limnoria-master
uWSGI==2.1
psutil
-e git://github.com/isislovecruft/python-gnupg.git@751f25cb35a9cf147a84618f4dd7a0748b7f711f#egg=gnupg-develop
